			#canvas {	
				border: 2px solid black;
				background-color: rgba(132, 175, 201, 0.5);
				position: absolute;
			}
			#score {	
				background-color: rgba(12, 175, 201, 0.3);
				border: 1px black dashed;
				top: calc(50% - 50px);
				left: -110px;
				position: absolute;
				width: 120px;
				height: 100px;				
				-webkit-transition: left 2s; /* Safari */
				transition: left 2s;
			}
			#score:hover {
				left: -2px;
			}
			html {
				height: 100%;
				width: 100%;
				overflow: hidden;
			}
			input{
				width: 200px;
				height: 30px;
				margin-bottom: 5px;
				padding: 0;
				padding-left: 2px;
				border: 2px black solid;
				background-color: rgba(0,107,83,0.6);
			}
			button{
				width: 206px;
				height: 34px;
				padding: 0;
				margin-bottom: 5px;
				border: 2px black solid;
				background-color: rgba(31,123,103,0.6);
			}
			button:hover{
				background-color: #5ED2B8;
			}
			body {
				background-color: #34D2AF;
				height: 100%;
				width: 100%;
				margin: 0;
				padding 0;
			}