			#canvas {	
				width: 100%;
				height: 100%;
			}
			html {
				height: 100%;
				width: 100%;
				overflow:  hidden;
			}
			body {
				/////background-image: url(/static/palace.jpg);
				background-color: rgba(132, 175, 201, 0.5);
				height: 100%;
				width: 100%;
				margin: 0;
				padding 0;
			}
			.cursor {
				position: fixed;
			}