			#canvas {	
				width: 100%;
				height: 100%;
			}
			#score {	
				background-color: rgba(12, 175, 201, 0.3);
				border: 1px black dashed;
				top: calc(50% - 50px);
				left: -110px;
				position: absolute;
				width: 120px;
				height: 100px;				
				-webkit-transition: left 2s; /* Safari */
				transition: left 2s;
			}
			#score:hover {
				left: -2px;
			}
			html {
				height: 100%;
				width: 100%;
				overflow:  hidden;
			}
			body {
				background-color: rgba(132, 175, 201, 0.5);
				height: 100%;
				width: 100%;
				margin: 0;
				padding 0;
			}